<mat-toolbar color="warn">
    <span>  
        <a routerLink = "/">  
          Posts 
        </a>  
      </span>

    <span class="spacer"></span> 

    <span class="example-spacer"></span>
    
    <li *ngIf = "!userIsAuthenticated">  
      <a mat-button routerLink = "/login" routerLinkActive = "mat-accent">Login</a>  
    </li>  

    <li *ngIf = "!userIsAuthenticated">  
      <a mat-button routerLink = "/signup" routerLinkActive = "mat-accent">Signup</a>  
    </li>  

    <div *ngIf = "userIsAuthenticated" class="profile-menu" (click)="toggleDropdown()">
      <span class="material-symbols-outlined">
        account_circle
      </span>

      <p class="profile-menu-email">{{ userEmail }}</p>

      <div class="profile-dropdown" [ngClass]="{'show': isDropdownOpen}">
      <ul>
        <li class="profile-dropdown-profile" routerLink = "/profile">Profile</li>
        <li *ngIf = "userIsAuthenticated">  
        <button mat-button (click)="onLogout($event)">Logout</button>
        </li>  
      </ul>
    </div>
    </div>
    
</mat-toolbar>