<div class="login-container">
  <h1>Log in</h1>
  
  <form (ngSubmit)="onLogin(loginform)" #loginform="ngForm" *ngIf="!Loading">  
    <mat-form-field class="full-width">
      <input 
        matInput 
        name="email" 
        ngModel 
        type="email" 
        placeholder="Email Id" 
        #emailInput="ngModel" 
        required 
        email>
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">
        Please enter a valid email id
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <input 
        matInput 
        type="password" 
        name="password" 
        placeholder="Password" 
        ngModel 
        #passwordInput="ngModel" 
        required>
      <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" *ngIf= "!Loading">Login</button>  
    <mat-spinner *ngIf="Loading"></mat-spinner>    
  </form>
</div>
