<div class="post-create-container">
    <h1 class="post-create">Post a Content</h1>
    
    <mat-spinner *ngIf = "Loading"></mat-spinner>  
    <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!Loading" class="form">
        <mat-form-field class="full-width">
            <input matInput type="text" formControlName="title" placeholder="Title">
            <mat-error *ngIf="form.get('title')?.invalid">Enter a title</mat-error>
        </mat-form-field>
    
        <div>
            <button mat-stroked-button type="button" (click)="filepicker.click()">  
                Pick Image  
            </button>  
            <input type="file" #filepicker (change)="PickedImage($event)">  
        </div>
    
        <div class="image-preview" *ngIf="Pickedimage !== '' && Pickedimage && form.get('image')?.valid">
            <img [src]= "Pickedimage" [alt]= "form.value.title">
        </div>
    
        <mat-form-field class="full-width">
            <textarea matInput cols="100" rows="0" formControlName="content" placeholder="Enter Content Here"></textarea>
                <mat-error *ngIf="form.get('content')?.invalid">Enter a content</mat-error>
        </mat-form-field>
    
    
        <button mat-raised-button color="warn" type="submit">Post Content</button>
    </form>
</div>