<h1 class="post-create">Post a Content</h1>

<mat-spinner *ngIf = "Loading"></mat-spinner>  
<form class="form" (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!Loading">
    <mat-form-field class="full-width">
        <input matInput type="text" name="title" [ngModel] = "post?.title"   required #title="ngModel" placeholder="Title">
    </mat-form-field>

    <mat-error *ngIf="title.invalid">Enter a title</mat-error>

    <mat-form-field class="full-width">
        <textarea matInput cols="100" rows="0" name="content" [ngModel] = "post?.content"   minlength="10" required #content="ngModel"
            placeholder="Content"></textarea>
    </mat-form-field>

    <mat-error *ngIf="content.invalid">Enter a content</mat-error>

    <button mat-raised-button color="warn" type="submit">Post Content</button>
</form>

<!-- <h4 class="submitted-form">Posted:</h4>
<p class="posted">{{postCreated}}</p> -->